
.email {
	padding: 0px;
	margin-bottom: 40px;
	font-size : 17px;
}

.email_link {
	color: #F42B03;
}

.work {
	margin-bottom: -40px;
	font-size: 20px;
	color: #615E5C;
}

.about {
	margin-bottom: 75px;
	font-size: 20px;
	color: #615E5C;
}

.jumbotron h1{
	font-size: 30px;
	padding-top: 10px;
}

/* Style the navbar */
#bar {
  overflow: hidden;
  background-color: #FFFEFE;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  font-size: 20px;
}

/* Navbar links */
#bar a {
  float: left;
  display: block;
  text-align: center;
  padding: 0px 25px 0px 0px;
  text-decoration: none;
}

#body {
	background-color: #FFFEFE;
	padding: 0px 25px 0px 25px;
	font-family: 'Lato', sans-serif;
	color: #212121;
}

#jumbo {
	height: 100vh;
	background:transparent;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	position: relative;
}


.bottom {
	position: absolute;
	bottom: 0;
	padding-bottom: 70px;
	padding-right: 0vw;
}

@media(min-width: 850px) {
	.email {
		font-size : 18px;
	}

	.jumbotron h1{
		font-size: 60px;
	}

	#bar {
		font-size: 30px;
	}

	.bottom{
		padding-bottom: 80px;
		padding-right: 30vw;
	}

	#body {
	background-color: #FFFEFE;
	padding: 0px 25px 0px 50px;
	}

	.work {
		padding-bottom: 50px;
		margin-bottom: -100px;
		font-size: 24px;
		color: #615E5C;
	}

	.about {
		margin-bottom: 75px;
		font-size: 24px;
		color: #615E5C;
	}
}

hr {
	width: 135px;
	height: 2px;
    /* Set the hr color */
    color: #F42B03; /* old IE */
    background-color: #F42B03;
}

.padding-top{
	margin-top: 50px;
}

a { color: #F42B03; }
a:hover { color: #615E5C; }

@media(min-width: 1000px){
	.work {
		margin-bottom: -200px;
		font-size: 24px;
		color: #615E5C;
	}
}
