body {
  background-color: #e7e3e0;
  font-family: sans-serif;
  padding-top: 200px;
}

.button {
  border: 1px solid red; padding: 10px;
  border-radius: 4px;
  background-color: white;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 95%;
}

.project {
  display: flex;
  flex-direction: row;
  background-color: white;
  flex-wrap: wrap;
}

.project-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.project-image {
  margin-top: 40px;
  width: 90%;
  height: auto;
  max-width: 300px;
}

.project-title {
  position: relative;
  left: 50px;
  padding: 15px;
  font-size: 30px;
  color: white;
  background-color: red;
  margin-top: -40px;
}

.project-meta-container {
  margin-top: 40px;
  padding: 30px;
}

.project-description {
  font-size: 22px;
  font-weight: 500;
}

.project-skillz {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 980px) {
  .content-container {
    width: 75%;
  }

  .project-column.column-1 {
    width: 40%;
    justify-content: flex-end;
  }

  .project-column.column-2 {
    width: 60%;
  }

  .project-title {
    align-self: flex-end;
  }

  .project-image {
    width: 100%;
    margin-bottom: -50px;
    margin-left: -50px;
  }
}
